# FUNCTIONS

In [1]:
a = 1;b = 3
a+b

4

In [2]:
def add_func(a,b):
    return a+b

In [6]:
add_func(20394,4524) +3

24921

In [7]:
def mul_fun(a,b):
    print(a*b)

In [8]:
mul_fun(2,3)+3

6

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [9]:
def test2(a,b,c):
    return a+b+c

In [10]:
test2(2,3)

TypeError: test2() missing 1 required positional argument: 'c'

In [11]:
test2(2,3,2)

7

In [12]:
def test3(n,m):
    return n+1, m+3, m+n

In [13]:
test3(3,2)

(4, 5, 5)

In [15]:
type(test3(3,4))

tuple

## Returning multiple values

In [16]:
def test4(n,m):
    return [n+1, m+3, m+n]

In [18]:
a,b,c = test4(3,4)
print(a,b,c)

4 7 7

### using placeholders

In [23]:
# using placeholder 
c,x ,_ = test3(1,2)

In [20]:
print(c,x,_)

2 5 3

In [30]:
def statement():
    return 'hello'

In [31]:
statement()

'hello'

## Default parameter

In [36]:
def fun3(n,m =4):
    return n+m

In [38]:
fun3(8)

12

In [40]:
fun3(3,2)

5

In [41]:
def boolx(x = True, y = False):
    return x+y

In [42]:
boolx()

1

In [43]:
True and False

False

In [44]:
True or False

True

In [45]:
True+False

1

## args passing multiple values (without creating variable or paramters)

In [46]:
def test1(*args , a = 'thomas'):
    return args

In [47]:
test1('anto',23,'thomas,234')

('anto', 23, 'thomas,234')

In [61]:
def fun1(*args):
    l = []
    for i in args:
        if type(i) == list:
            l+=i
    return l

In [63]:
fun1([2,3,4],[2,3,5], 'thomas')

[2, 3, 4, 2, 3, 5]

In [59]:
def fun3(*args):
    return [i for i in args]

In [60]:
fun3([2,3,4],[2,3,53,9])

[[2, 3, 4], [2, 3, 53, 9]]

In [65]:
def fun4(**kwargs):
    return kwargs

In [66]:
fun4(23,21)

TypeError: fun4() takes 0 positional arguments but 2 were given

In [67]:
fun4(a = 3, b = 32)

{'a': 3, 'b': 32}

## Questions

Create a function which takes many arguments and return a seperated datatypes collection

In [95]:
def fun(*args):   
    dtypes = [type(i) for i in args]
    dictn = {y:[] for y in dtypes}
    for para in args:
        for typ in dtypes:
            if type(para) ==typ:
                dictn[typ].append(para)
                break
    return dictn

In [96]:
fun('thomas',23,3.2,13,84,'anto',25.35,[3,2,4],[83,3])

{str: ['thomas', 'anto'],
 int: [23, 13, 84],
 float: [3.2, 25.35],
 list: [[3, 2, 4], [83, 3]]}

In [127]:
def fun99(*args, **kwargs):
    final_list = []
    for arg in args:
        if type(arg) == list:
            final_list.append(arg)            
    for i in kwargs:
        if type(kwargs[i]) == list:
            final_list.append(kwargs[i])
    print(final_list)

In [128]:
fun99(23,34,'anoty',['tom','maria','tony'],[3,2,5],
      a = 'thomas', 
      b = [23,122,43,2,4,2],c = [2,3,5,2,3], d = 'steve')

[['tom', 'maria', 'tony'], [3, 2, 5], [23, 122, 43, 2, 4, 2], [2, 3, 5, 2, 3]]

In [138]:
def fun98(*args, **kwargs):
    l = [i for i in args if type(i) ==list]
    d = [i[1] for i in kwargs.items() if type(i[1] == list)]
    
    return  l,d

In [142]:
d = {str: ['thomas', 'anto'],
 int: [23, 13, 84],
 float: [3.2, 25.35],
 list: [[3, 2, 4], [83, 3]]}


fun98(str=['thomas', 'anto'],
 int=[23, 13, 84],
 float=[3.2, 25.35],
 list=[[3, 2, 4], [83, 3]])

([], [['thomas', 'anto'], [23, 13, 84], [3.2, 25.35], [[3, 2, 4], [83, 3]]])

In [137]:
for i in d.items():
    print(i[1])

['thomas', 'anto']
[23, 13, 84]
[3.2, 25.35]
[[3, 2, 4], [83, 3]]

In [143]:
# finding name in keyword  argument list:
def test25(**kwargs):
    for i in kwargs.items():
        if type(i[1]) ==list:
            if 'thomas' in i[1]:
                print('found the name')
                print(i[1])

In [145]:
test25(d = ['thomas',23],h = 4)

found the name
['thomas', 23]

In [146]:
def func1(*args):
    dt = {}
    for i in args:
        if type(i) in dt:
            df[type(i)].append(i) 
        else:
            dt[type(i)] = [i] 
    return dt