In [141]:
import pandas as pd

In [142]:
# integer : 15 digit number 
# hide the last four : replace with xxxx

In [143]:
def replace_4x(digit):
    # digit can be any of any length : last 4 values will be replaced with xxxx
    digit_strings = list(str(digit))
    last_four = digit_strings[::-1][0:4][::-1]
    rest = digit_strings[::-1][4:][::-1]
    
    # returning a dictionary : multiple values 
    return {
        'hashed':''.join(rest)+'X'*4,
        'last4':''.join(last_four)
    }

In [144]:
replace_4x(2348739)

{'hashed': '234XXXX', 'last4': '8739'}

In [145]:
def replace_xxxx(digit):
    # constrain : digit is a 15 digit number always : last four values will be replaced with xxxx
    new_num_string = list(str(digit))
    final = ''.join(new_num_string[:10])+'X'*4
    
    # returning a single value
    return final

In [146]:
replace_xxxx(234992138423423)

'2349921384XXXX'

In [147]:
import random
cc_numbers = [''.join([str(random.randint(0,9)) for i in range(15)]) for i in range(10)]
df = pd.DataFrame({'cc_numbers':cc_numbers})

# applying the function which returns multiple values
df['hashed'] = df['cc_numbers'].apply(lambda x : replace_4x(x)['hashed'])
df['last4'] = df['cc_numbers'].apply(lambda x : replace_4x(x)['last4'])

In [148]:
# applying the function which returns a single value 
df['replaced'] = df['cc_numbers'].apply(replace_xxxx)

In [149]:
df

        cc_numbers           hashed last4        replaced
0  748291127685171  74829112768XXXX  5171  7482911276XXXX
1  993932550136022  99393255013XXXX  6022  9939325501XXXX
2  929968095256259  92996809525XXXX  6259  9299680952XXXX
3  718018489807650  71801848980XXXX  7650  7180184898XXXX
4  910275873220891  91027587322XXXX  0891  9102758732XXXX
5  908778005089672  90877800508XXXX  9672  9087780050XXXX
6  553654896727235  55365489672XXXX  7235  5536548967XXXX
7  106797556802045  10679755680XXXX  2045  1067975568XXXX
8  438352750863611  43835275086XXXX  3611  4383527508XXXX
9  718361951526376  71836195152XXXX  6376  7183619515XXXX

In [150]:
# create a function which takes two arguments and return a single value
def func(a,b):
    return a+b

In [151]:
df = pd.DataFrame({
    'x':[random.randint(111111111111111,999999999999999) for i in range(10)],
    'y':[random.randint(111111111111111,999999999999999) for i in range(10)]
})

In [152]:
df

                 x                y
0  460316864980387  764434984022914
1  986839137809607  601861791990834
2  657277380272411  548379150956056
3  667586247687142  149706154762755
4  589176320591486  679644624379164
5  578494431999256  410515180974171
6  741544648619246  370217868023256
7  488829290331292  795102093349103
8  395115651518753  888183489961551
9  323765777966673  487875919570105

In [153]:
# applying the function which takes two arguments : -> using two columsn and creating the next column
df['x+y'] = df.apply(lambda x: func(x["x"], x["y"]), axis=1)

In [154]:
df

                 x                y               x+y
0  460316864980387  764434984022914  1224751849003301
1  986839137809607  601861791990834  1588700929800441
2  657277380272411  548379150956056  1205656531228467
3  667586247687142  149706154762755   817292402449897
4  589176320591486  679644624379164  1268820944970650
5  578494431999256  410515180974171   989009612973427
6  741544648619246  370217868023256  1111762516642502
7  488829290331292  795102093349103  1283931383680395
8  395115651518753  888183489961551  1283299141480304
9  323765777966673  487875919570105   811641697536778