In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('sample_pivot.xlsx')

In [4]:
df

          Date Region                 Type  Units  Sales
0   2020-07-11   East  Children's Clothing   18.0    306
1   2020-09-23  North  Children's Clothing   14.0    448
2   2020-04-02  South     Women's Clothing   17.0    425
3   2020-02-28   East  Children's Clothing   26.0    832
4   2020-03-19   West     Women's Clothing    3.0     33
..         ...    ...                  ...    ...    ...
995 2020-02-11   East  Children's Clothing   35.0    735
996 2020-12-25  North       Men's Clothing    NaN   1155
997 2020-08-31  South       Men's Clothing   13.0    208
998 2020-08-23  South     Women's Clothing   17.0    493
999 2020-08-17  North     Women's Clothing   25.0    300

[1000 rows x 5 columns]

In [5]:
pd.pivot_table(df,index = 'Region',values = 'Units')

            Units
Region
East    19.732360
North   19.202643
South   20.423358
West    19.294118

In [8]:
df['Type'].value_counts()

Type
Women's Clothing       424
Men's Clothing         291
Children's Clothing    285
Name: count, dtype: int64

In [22]:
get_second_highest = lambda x: pd.DataFrame(x).sort_values(by = 'Sales',ascending=False).iloc[1]

# Apply the lambda function to the 'category' column within each group
result = df.groupby('Type')['Region'].agg(get_second_highest).reset_index()
result

KeyError: 'Sales'

In [17]:
df.groupby(['Type','Region']).agg({'Sales':lambda x : pd.DataFrame(x).sort_values('Sales',ascending = False).iloc[0]})

                            Sales
Type                Region
Children's Clothing East     1122
                    North    1088
                    South     924
                    West      992
Men's Clothing      East     1054
                    North    1155
                    South    1085
                    West      930
Women's Clothing    East     1054
                    North    1122
                    South    1122
                    West     1023