## Question 1
Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).

Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.
eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1.

In [95]:
def arithmetic_operation(expression):
    mo = re.compile(r'(\d+)\s(\W+)\s(\d+)')
    num1,operator,num2 = mo.findall(expression)[0]
    if operator =='+':
        res = int(num1)+int(num2)
    if operator == '-':
        res = int(num1)-int(num2)
    if operator =='*':
        res = int(num1)*int(num2)
    if operator == r'//':
        if int(num2) ==0:
            res = -1
        else:
            res = int(num1)//int(num2)   
    return res

In [96]:
arithmetic_operation('12 + 12')

24

In [97]:
arithmetic_operation('12 - 12')

0

In [98]:
arithmetic_operation('12 // 0')

-1

In [99]:
arithmetic_operation('12 * 12')

144

## Question 2 
Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.

In [135]:
def perimeter(arr):
    x,y,z = arr
    xy = ((y[0]-x[0])**2 + (y[1]-x[1])**2)**0.5
    yz = ((z[0]-y[0])**2 + (z[1]-y[1])**2)**0.5
    zx = ((x[0]-z[0])**2 + (x[1]-z[1])**2)**0.5  
    return round(xy+yz+zx,2)

In [136]:
perimeter([[15,7],[5,22],[11,1]])

47.08

In [137]:
perimeter([[0,0],[0,1],[1,0]])

3.41

In [138]:
perimeter([[-10,-10],[10,10],[-10,10]])

68.28

## Question 3 
A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).

In [168]:
def tallest_skyscraper(lst):
    new = [[lst[i][j] for i in range(len(lst))] for j in range(len(lst[0]))] 
    fin = []
    for i in new:
        sums = 0
        for element in range(len(i)):
            sums+= i[element]
        fin.append(sums)
    return max(fin)

In [169]:
tallest_skyscraper([
    [0,0,0,0],
    [0,1,0,0],
    [0,1,1,0],
    [1,1,1,1]
])

3

In [170]:
tallest_skyscraper([
    [0,1,0,0],
    [0,1,0,0],
    [0,1,1,0],
    [1,1,1,1]
])

4

In [171]:
tallest_skyscraper([
    [0,0,0,0],
    [0,0,0,0],
    [0,1,1,0],
    [1,1,1,1]
])

2

## Question 4

A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:

 * 0 to 32 = 0
 * 33 to 40  = 325 
 * 41 to 48 = 550 
 * from 49 = 600
 
Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.

In [19]:
def bonus(n):
    sums = 0
    while n>32:
        if n >=33 and n <= 40 :
            sums += 325 
            n = n -1 
        if n >= 41 and n <= 48:
            sums += 550 
            n = n -1 
        if n >= 49:
            sums += 600 
            n = n-1 
    print(sums)

In [22]:
bonus(15)

0

In [26]:
bonus(37)

1625

In [27]:
bonus(50)

8200

## Question 5 
A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.

In [38]:
def isDisarium(n):
    str_n = str(n)
    sums = 0
    for i in range(len(str_n)):
        sums+= int(str_n[i]) **(i+1)
    if sums == n:
        return True 
    else:
        return False

In [39]:
isDisarium(75)

False

In [40]:
isDisarium(135)

True

In [42]:
isDisarium(544)

False

In [43]:
isDisarium(518)

True

In [44]:
isDisarium(8)

True