# Assignment 21

## Question1 
Write a function that takes a list and a number as arguments.Add the number to the end of the list then removes the first element of the list. The function should then return the updated list

In [10]:
def next_in_lines(lst,num):
    if len(lst)!=0:
        lst.append(num)
        return lst[1::]
    else:
        return "No list has been selected"

In [11]:
next_in_lines([5,6,7,8,9],1)

[6, 7, 8, 9, 1]

In [12]:
next_in_lines([7,6,3,23,17],10)

[6, 3, 23, 17, 10]

In [13]:
next_in_lines([1,10,20,42],6)

[10, 20, 42, 6]

In [14]:
next_in_lines([],6)

'No list has been selected'

## Question 2 
Create a function that takes a list of dictionaries and return the sum of people's budges

In [18]:
def get_budgets(l):
    budget_sum = 0
    for i in l:
        budget_sum+=i['budget']
    return budget_sum

In [22]:
lst = [
    {'name':'john','age':21, 'budget':23000},
    {'name':'steeve','age':32,'budget':40000},
    {'name':'Martin','age':16, 'budget':2700}
]
get_budgets(lst)

65700

In [21]:
lst = [
    {'name':'john','age':21, 'budget':29000},
    {'name':'steeve','age':32,'budget':32000},
    {'name':'Martin','age':16, 'budget':1600}
]
get_budgets(lst)

62600

## Question 3 
Create a uncttion that takes a string and returns a string with its leters in alphabetial order

In [35]:
def alphabet_soup(string):
    string = sorted(string)
    res = ''.join(string)
    return res

In [36]:
alphabet_soup('hello')

'ehllo'

In [37]:
alphabet_soup('edabit')

'abdeit'

In [38]:
alphabet_soup('javascript')

'aacijprstv'

## Question 4 
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly.
What will be the value of your investment at the end of the 10 year period?

In [112]:
def compound_interest(P,y,r,n):
    r = r*100
    FV = P * (((1 + ((r/100.0)/n)) ** (n*y)))  
    return  FV

In [113]:
compound_interest(100000,20,0.15,365)

2007316.2632325366

In [114]:
compound_interest(100,1,0.05,1)

105.0

## Question 5 
Write a function that takes a list of elements and returns only the integers

In [117]:
def get_integers(lst):
    res = []
    for i in lst:
        if type(i)==int:
            res.append(i)
    return res

In [118]:
get_integers([9,2,'space','car','lion',16])

[9, 2, 16]

In [120]:
get_integers(['hello',81,'basketball',123,'fox'])

[81, 123]