# DICTIONARY
    * duplicate keys are not allowed
    * value wise everything is possible 
    * list as key note allowed
    * special characters are not allowed as a key 
    * value wise reassignment is possible

In [1]:
d = {1:'thomas', 3:'siddharth'}
print(d)

{1: 'thomas', 3: 'siddharth'}

In [16]:
df = {1:{'name':'thomaskutty', 'age':25, 'marks':[12,24,23,25]},
     2:{'name':'steve', 'age':24, 'marks':[32,53,42,24]}}

In [17]:
df

{1: {'name': 'thomaskutty', 'age': 25, 'marks': [12, 24, 23, 25]},
 2: {'name': 'steve', 'age': 24, 'marks': [32, 53, 42, 24]}}

## Accessing element using keys

In [21]:
df[1]['marks'][3]

25

In [22]:
df[2]

{'name': 'steve', 'age': 24, 'marks': [32, 53, 42, 24]}

In [23]:
df[1]['marks']

[12, 24, 23, 25]

## Getting the keys

In [26]:
df.keys()

dict_keys([1, 2])

In [27]:
d.keys()

dict_keys([1, 3])

In [28]:
for i in df.keys():
    print(type(df[i]))

<class 'dict'>
<class 'dict'>

## Getting the items

In [32]:
df.items()

dict_items([(1, {'name': 'thomaskutty', 'age': 25, 'marks': [12, 24, 23, 25]}), (2, {'name': 'steve', 'age': 24, 'marks': [32, 53, 42, 24]})])

In [37]:
for i in df.items():
    print(i)

(1, {'name': 'thomaskutty', 'age': 25, 'marks': [12, 24, 23, 25]})
(2, {'name': 'steve', 'age': 24, 'marks': [32, 53, 42, 24]})

In [39]:
len(df)  # how many key value pairs

2

In [42]:
e = {56:{23,13,2}}
e[56] = list(e[56])
e[56][2]

23

## Questions

In [69]:
# question 1 : input from user (paragraph):
data = input('enter the paragraph: \n')

enter the paragraph:
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book

In [70]:
list_data = data.split(' ')

In [71]:
list_uniques = set(list_data)

In [72]:
dict_uniques = dict()
for i in list_uniques:
    dict_uniques[i] = 'thomaskutty'
print(dict_uniques)

{'has': 'thomaskutty', 'when': 'thomaskutty', 'unknown': 'thomaskutty', 'scrambled': 'thomaskutty', 'make': 'thomaskutty', 'standard': 'thomaskutty', 'Ipsum': 'thomaskutty', 'simply': 'thomaskutty', 'text': 'thomaskutty', 'it': 'thomaskutty', 'since': 'thomaskutty', 'is': 'thomaskutty', 'book': 'thomaskutty', 'the': 'thomaskutty', 'of': 'thomaskutty', 'took': 'thomaskutty', 'specimen': 'thomaskutty', 'typesetting': 'thomaskutty', 'an': 'thomaskutty', 'printing': 'thomaskutty', 'dummy': 'thomaskutty', 'type': 'thomaskutty', 'galley': 'thomaskutty', '1500s,': 'thomaskutty', 'Lorem': 'thomaskutty', 'ever': 'thomaskutty', 'industry.': 'thomaskutty', 'been': 'thomaskutty', 'a': 'thomaskutty', 'to': 'thomaskutty', 'and': 'thomaskutty', "industry's": 'thomaskutty', 'printer': 'thomaskutty'}

In [73]:
# getting all the values  in a tuple 
l = list()
for i in dict_uniques.items():
    l.append(i[1])
l = tuple(l)
print(l)

('thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty', 'thomaskutty')

In [74]:
tuple(dict_uniques.keys())

('has',
 'when',
 'unknown',
 'scrambled',
 'make',
 'standard',
 'Ipsum',
 'simply',
 'text',
 'it',
 'since',
 'is',
 'book',
 'the',
 'of',
 'took',
 'specimen',
 'typesetting',
 'an',
 'printing',
 'dummy',
 'type',
 'galley',
 '1500s,',
 'Lorem',
 'ever',
 'industry.',
 'been',
 'a',
 'to',
 'and',
 "industry's",
 'printer')

In [75]:
new_dict = dict.fromkeys(list_uniques,'maria') 
tuple(new_dict.values())
tuple(new_dict.keys())

('has',
 'when',
 'unknown',
 'scrambled',
 'make',
 'standard',
 'Ipsum',
 'simply',
 'text',
 'it',
 'since',
 'is',
 'book',
 'the',
 'of',
 'took',
 'specimen',
 'typesetting',
 'an',
 'printing',
 'dummy',
 'type',
 'galley',
 '1500s,',
 'Lorem',
 'ever',
 'industry.',
 'been',
 'a',
 'to',
 'and',
 "industry's",
 'printer')

## Dictionary iterations

In [77]:
d = {'compay':'ineuron', 'course':'fullstack', 'year':2021}

In [78]:
d

{'compay': 'ineuron', 'course': 'fullstack', 'year': 2021}

In [82]:
for i in d:
    print('print a key:  ', i,  "  ;  "  'value is: ', d[i])

print a key:   compay   ;  value is:  ineuron
print a key:   course   ;  value is:  fullstack
print a key:   year   ;  value is:  2021

In [83]:
'course' in d

True

In [84]:
for i in d:
    if i == 'year':
        if d[i]> 2021:
            print('year is fine')
        else:
            d[i] = 2022

In [85]:
d

{'compay': 'ineuron', 'course': 'fullstack', 'year': 2022}

# Dictionary comprehension

In [86]:
my_dict = {}

for i in range(10):
    my_dict[i] = i*i 
print(my_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [89]:
{i:i*i for i in range(0,15,2)}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196}