# <i> LIST </i>
    * append/clear/copy/count/extend/index/insert/pop
    * remove/reverse/sort
    * indexing using brackets

# List manipulations

In [3]:
l = ['thomas', 12,3,['a','b',234]]

In [4]:
l[3]

['a', 'b', 234]

In [5]:
l[0:3]

['thomas', 12, 3]

In [6]:
l[-1:-5:-1]

[['a', 'b', 234], 3, 12, 'thomas']

## List concatenation

In [7]:
s = list('thomas')
l+s

['thomas', 12, 3, ['a', 'b', 234], 't', 'h', 'o', 'm', 'a', 's']

In [8]:
# l.extend(s)

## List replication

In [9]:
l *2  # replication

['thomas', 12, 3, ['a', 'b', 234], 'thomas', 12, 3, ['a', 'b', 234]]

In [10]:
l = 'thomaskutty'

l[-len(l): -5:1]

'thomas'

## Max and min

In [14]:
max([1,2,3,2,8])

8

In [28]:
min('a','b','c')

'a'

## Append

In [29]:
l = [3,2,2]
l.append('thomas')

In [32]:
l

[3, 2, 2, 'thomas']

## Insert

In [33]:
# appending in different positions 
l.insert(1, 'maria')

In [34]:
l

[3, 'maria', 2, 2, 'thomas']

In [36]:
print(l[-1])
l.insert(-1,'hi')
print(l[-1])

thomas
thomas

In [37]:
l

[3, 'maria', 2, 2, 'hi', 'thomas']

In [38]:
l.insert(0,34)
l

[34, 3, 'maria', 2, 2, 'hi', 'thomas']

## Count

In [41]:
l = [3,3,2,5,8]
l.count(3)

2

## Extend

In [45]:
l = [2, 4,2, 64,3]
l.append('thomas')
l

[2, 4, 2, 64, 3, 'thomas']

In [46]:
l.append([2,3,2,4])
l

[2, 4, 2, 64, 3, 'thomas', [2, 3, 2, 4]]

In [47]:
# Now the extend operation 
l.extend('thomas') # appending(iterable object)
l

[2, 4, 2, 64, 3, 'thomas', [2, 3, 2, 4], 't', 'h', 'o', 'm', 'a', 's']

In [48]:
l.extend(3)

TypeError: 'int' object is not iterable

## Index

In [55]:
l

[3, 2, 5, 3, 2, 3, 2, 5, 6, 7, 4, 2, 3]

In [56]:
l.index(2)

1

In [57]:
# finding the indexes of a particular number in a list
l = [3,2,5,3,2,3,2,5,6,7,4,2,3]
for i in range(len(l)):
    if l[i] == 2:
        print(i)

1
4
6
11

## pop

In [58]:
l

[3, 2, 5, 3, 2, 3, 2, 5, 6, 7, 4, 2, 3]

In [59]:
l.pop()

3

In [60]:
l

[3, 2, 5, 3, 2, 3, 2, 5, 6, 7, 4, 2]

In [61]:
l.pop(1)
l

[3, 5, 3, 2, 3, 2, 5, 6, 7, 4, 2]

## Remove

In [62]:
l = [3,2,4,23,5,3,44,3,5]
l.remove(3) # removing the first occurences 
l

[2, 4, 23, 5, 3, 44, 3, 5]

## reverse()

In [63]:
l

[2, 4, 23, 5, 3, 44, 3, 5]

In [64]:
l.reverse()

In [65]:
l  # reversed the l list

[5, 3, 44, 3, 5, 23, 4, 2]

## sort()

In [66]:
l.sort()

In [67]:
l

[2, 3, 3, 4, 5, 5, 23, 44]

In [77]:
l = [3,2,3,2,3,1,4,2,3,44,5,2,3,5]
for i in l:
    if i ==3:
        l.remove(i)
print(l)

[2, 2, 1, 4, 2, 44, 5, 2, 5]

## Question 1 :

l = ['thomsakutty', 'reji',[2,3,2],23,32] 

append 2 more list and insert a complex number in between them

In [184]:
l = ['thomsakutty', 'reji',[2,3,2],23,32] 
l.append([2,3,4])
l.append([3,2])
l.insert(1, 'mmaei')
l

['thomsakutty', 'mmaei', 'reji', [2, 3, 2], 23, 32, [2, 3, 4], [3, 2]]

In [82]:

l

['thomsakutty', 'mmaei', 'reji', [2, 3, 2], 23, 32, [2, 3, 4], [3, 2]]

## Question 2 : 
if a nested list contains a string then , print the index and then remove it, finally print the list.

In [192]:
l = [2,[3,'1'],[3,1,4],['thomas',3,'hi'],'thomas'] 
for component in l:
    if type(component) == list:
        newcompo = list() 
        for i in range(len(component)):
            if type(component[i]) == str:
                print(f'component is {component} and index of {component[i]} is {i}')
                newcompo.append(component[i]) 
        for j in newcompo:
            component.remove(j)
print(f'final string is {l}')

component is [3, '1'] and index of 1 is 1
component is ['thomas', 3, 'hi'] and index of thomas is 0
component is ['thomas', 3, 'hi'] and index of hi is 2
final string is [2, [3], [3, 1, 4], [3], 'thomas']

## How to get list input from user

In [199]:
l = []
for i in range(4):
    l.append(int(input()))
print(l)

1
2
6
6
[1, 2, 6, 6]

In [212]:
# pasting a number to a word ( for genrating names)
l = list()
for i in range(3):
    m = 'odd'+str(i)
    l.append(m)
    
l

['odd0', 'odd1', 'odd2']