# SETS
    * set is an unordered collection of unique elemets 
    * indexing operation is not available

In [5]:
l = [1,456,3,2,2,3,2,2,2,1,4,5,7,8,6,345,34,23,52,6]

In [6]:
s = set(l)
s

{1, 2, 3, 4, 5, 6, 7, 8, 23, 34, 52, 345, 456}

## In operator

In [7]:
34 in s

True

## add method

In [9]:
se = set()
se.add('thomas')
se

{'thomas'}

In [10]:
se.add([1,2,3])

TypeError: unhashable type: 'list'

In [13]:
se.add(1)
se

{1, 'thomas'}

## remove

In [17]:
print(s)
print(se)

{2, 3, 4, 5, 6, 7, 456, 8, 34, 52, 23, 345}
{1, 'thomas'}

In [19]:
s.remove(2)
s

{3, 4, 5, 6, 7, 8, 23, 34, 52, 345, 456}

## clear

In [20]:
s.clear()
print(s)

set()

## difference

In [21]:
s = {23,42,12,43,'thomas',1}
print(s)

{1, 42, 43, 12, 23, 'thomas'}

In [22]:
print(se)

{1, 'thomas'}

## other methods

In [23]:
s.difference(se)

{12, 23, 42, 43}

In [24]:
se.difference(s)

set()

In [25]:
s.intersection(se)

{1, 'thomas'}

In [26]:
s.symmetric_difference(se)

{12, 23, 42, 43}

In [27]:
s.isdisjoint(se)

False

In [28]:
s.issubset(se)

False

In [29]:
s.issuperset(se)

True

In [30]:
s.union(se)

{1, 12, 23, 42, 43, 'thomas'}

In [31]:
s.pop()   # poping element randomly

1

In [32]:
s.pop()

42

In [33]:
s

{12, 23, 43, 'thomas'}