In [1]:
name = 'thomas'
phno = 3234214134
address = 'Ind-23'

data = [name, phno, address]

In [2]:
data[0]

'thomas'

In [7]:
type(data)

list

In [11]:
data2 = list()
data3 = []

In [13]:
print(type(data2))
print(type(data3))

<class 'list'>
<class 'list'>

In [14]:
for i in data:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>

In [15]:
list(range(3))

[0, 1, 2]

In [16]:
# range function gives an object

In [22]:
print('sjfks\rsdlfkjs')
print('sldfk\tsldkj\tljsd')
print('asldf\nslkdjf\fnsdfj\nsldk')

sdlfkjs
sldfk	sldkj	ljsd
asldf
slkdjfnsdfj
sldk

## String operations

In [2]:
str1 = 'this is my first class for full stack data science'

In [18]:
str1[-7:]

'science'

In [19]:
len(str1)

50

In [21]:
for i in range(len(str1)-30):
    print(str1[i])

t
h
i
s

i
s

m
y

f
i
r
s
t

c
l
a

In [22]:
# strings are immutable 
# lists are mutable

In [25]:
# string concatenation 
'this' + ' noteobok'

'this noteobok'

In [26]:
# Return the lowest index in S where substring sub is found,
str1.find('is')

2

In [28]:
s = 'im thomaskuty_reji'

In [32]:
# get the indexes of the word 'thomas'
first_index = s.find('thomas')
for i in range(len('thomas')):
    print(i+first_index)

3
4
5
6
7
8

In [34]:
s.count('m') # case sensitivie

2

In [36]:
str1.split() # returns a list

['this',
 'is',
 'my',
 'first',
 'class',
 'for',
 'full',
 'stack',
 'data',
 'science']

In [37]:
str1.upper()

'THIS IS MY FIRST CLASS FOR FULL STACK DATA SCIENCE'

In [38]:
str1.lower()

'this is my first class for full stack data science'

In [39]:
str1.capitalize()

'This is my first class for full stack data science'

In [40]:
str1.swapcase()

'THIS IS MY FIRST CLASS FOR FULL STACK DATA SCIENCE'

In [42]:
"_".join(s)

'i_m_ _t_h_o_m_a_s_k_u_t_y___r_e_j_i'

In [43]:
reversed(str1)

In [46]:
list(reversed(s))

['i',
 'j',
 'e',
 'r',
 '_',
 'y',
 't',
 'u',
 'k',
 's',
 'a',
 'm',
 'o',
 'h',
 't',
 ' ',
 'm',
 'i']

In [57]:
# strip function
s= '  jo in   '
s.strip()

'jo in'

In [58]:
# strip function left 
s.lstrip()

'jo in   '

In [59]:
# strip function (right)
s.rstrip()

'  jo in'

In [60]:
# replace fucntion
s.replace('j', 'x')

'  xo in   '

In [61]:
s = 'thomas'

In [62]:
s.center(20, '*')

'*******thomas*******'

In [63]:
s = 'thomas\treji'

In [65]:
# expand  based on tabs
s.expandtabs()

'thomas  reji'

In [68]:
# task 
a = 'we all are a part of Full Stack'
a = a.lower()

In [71]:
a.count('a')

5

In [72]:
index = 0 
for i in a: 
    if i == 'a':
        print(index)
    index+=1

3
7
11
14
28

In [73]:
 a.replace('a', 'iNeuron')

'we iNeuronll iNeuronre iNeuron piNeuronrt of full stiNeuronck'

In [74]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'full', 'stack']

In [80]:
# checking methods for strings 
print(a.isupper())
print(a.islower())
# isspace()
# isdigit()
# isnumeric()
# isalnum()

False
True

In [78]:
s = 'thomas'
s.endswith('s')

True

In [79]:
s.startswith('n')

False

In [89]:
b = '323'
print(b.isalpha())
print(b.isalnum())

False
True

In [90]:
# len function 
count = 0
s = 'thomas'
for i in s:
    count = count+1 
print(count)

6

In [91]:
# looping over string using indexes instead of direct method
for i in range(len(s)):
    print(s[i])

t
h
o
m
a
s

In [102]:
# reversing a string using while loop 
s = 'thomas'
ch = len(s)-1
while ch >= 0:
    print(s[ch])
    ch = ch-1

s
a
m
o
h
t

In [97]:
len(s) -1
s[5]
s[4]

'a'

In [138]:
a = 'thomas'
ch = len(a) -1
for i in range(ch,-1, -1):
    print(a[i])

s
a
m
o
h
t

In [126]:
name = 'ineuron'
vowels = 'AaEeIiOoUu'
for i in name:
    if i in vowels:
        print('{} is a vowel'.format(i))
    else:
        print('{} is not a vowel'.format(i))

i is a vowel
n is not a vowel
e is a vowel
u is a vowel
r is not a vowel
o is a vowel
n is not a vowel

In [128]:
# print formating 
a = 'anto'
b = 'raveen'
"{} is good".format('python')

'python is good'

In [133]:
'{} name {} subh {} '.format(a,b, "thomas")

'anto name raveen subh thomas '

In [143]:
a = input('enter the data : ')
a1 = a[::-1]
if a == a1:
    print('same')
else:
    print('different')

enter the data : malayalam
same

In [1]:
# concatenate using same data type 
l = [1,2,3]
s = 'thomas'
s = list(s)
l+s # seperating all the charactor then hold it in a string

[1, 2, 3, 't', 'h', 'o', 'm', 'a', 's']

In [2]:
't' in l+s  # element availability in a  list

True

In [3]:
s = 'thomas'
't' in s   # element availability in string.

True