# <i> TUPLES </i>

    * For tuples the indexing is same as of list.
    * manipulation is not possible with the tuples
    * count and index methods - tuples
    *

In [20]:
t = ()

In [21]:
type(t)

tuple

## Memory addresses of elements inside nested lists and tuples

In [22]:
t1 = [123,'thomas', 't',[3,2,4]]

print(id(t1[3]))
t1[3][0] = 123
print(t1)
print(id(t1[3]))


print(id(123))
print(id(t1[3][0]))

139636237511936
[123, 'thomas', 't', [123, 2, 4]]
139636237511936
93929229319296
93929229319296

In [23]:
t1 = (123,'thomas', 't',[3,2,4])

print(id(t1[3]))
t1[3][0] = 123
print(t1)
print(id(t1[3]))

139636237510272
(123, 'thomas', 't', [123, 2, 4])
139636237510272

## tuple concatenation

In [24]:
t2 = ('re','ra',2,3,1)
t1+t2

(123, 'thomas', 't', [123, 2, 4], 're', 'ra', 2, 3, 1)

In [26]:
2 in t2   # in operator

True

In [27]:
max((3,2,4))  # giving the maximum of numeric tuples

4

In [29]:
t3 = (1,2,3,1,2,'tom')
t3.index(2)  # giving index of first occurences

1

## Nested tuples

In [33]:
t = ((1,3,2,5), ('thomas','reji','maria'),(43,2), [1,2,3],'thomas')

In [34]:
t[0][3]   # accessing nested elements

5

In [39]:
i = int(input('enter the user input')
if i in t1:
    print('this element exist in the list')
else:
    print('not available')

enter the user input123
this element exist in the list

## Del operation

In [41]:
t1 = (12,32)
t1

(12, 32)

In [42]:
del t1
t1

NameError: name 't1' is not defined

## tuple multiplication

In [45]:
t = (1,2,3)
t*2

(1, 2, 3, 1, 2, 3)

In [48]:
t = (1,22,3,3)
t.count(3)

2